* {
    margin: 0px;
    padding: 0;
    border: 0;
}

.header {
    display: flex;
    max-width: auto;
    height: 52px;
    list-style: none;
    margin-top: 2rem;
    justify-content: space-around;
    z-index: 1000;
    margin-bottom: -20px;
}

a {
    text-decoration: none;
    color: #000;
}

.header li {
    position: relative;
	margin-top:17px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    transition: 0.2s all linear;

}

.header li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #000;
    transition: 0.2s all linear;
}

 .header li:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
    border-bottom-color: #000;
    z-index: -1;
}

.header li:hover~li::before {
    left: 0;
}
.header li:active {
    background-color: #ddd;
    color: #fff;
}



.header li:first-child{
    margin-top: -23px;
}



